* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --body-background-color:#83eaf1;
    --sign-up-button-color:#38488a;
    --primary-color:#353855;
    --secondary-color:#8590a5;
}

body{
    display:flex;
    justify-content:center;
    padding-top:5%;
    background-color:var(--body-background-color);

}

.container{
    display:flex;
    width:85%;
    max-width:820px;
    border-radius:10px;
    box-shadow:2px 2px 15px -2px rgba(0, 0, 0, 0.3);
}

.img{
    background-image:url(assets/tropical-seamless-pattern-with-palm-yevhenii-dubinko.jpg);
    background-size:cover;
    width:40%;
    border-radius:10px 0 0 10px;
}

.form{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color:var(--primary-color);
    padding:2em;
    width:60%;
    background-color:white;
    border-radius:0px 10px 10px 0px;
}
.form h1{
    margin-bottom:.75em;
}


.flex-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.col-right , .col-left{
    width:45%;
    min-width:140px;
}
.input-box {
    width:100%;
    min-width:80px;
    margin-bottom:1em;
}

.input-box label{
    display:block;
    margin-bottom:.25em;
    text-transform:uppercase;
}
.input-box input{
    display:block;
    height:30px;
    width:100%;
    padding:0 .5em;
    border:1px solid lightgrey;
    border-radius:5px;
}
.input-box input:hover{
   border-color:lightseagreen;
}

.input-box input:focus{
    border:none;
    outline:none;
    box-shadow:2px 2px 20px -2px rgba(0, 0, 0, 0.39);
    height:40px;
    position:relative;
    left:15px;
    top:-5px;
}


.checkbox{
    margin:.75em 0;
    width:45%;
    min-width:120px;
}

input[type="checkbox"]{
    position:relative;
    appearance:none;
    cursor:pointer;
    width:15px;
    height:15px;
    border:1px solid lightgrey;
}

input[type="checkbox"]:checked::before{
    content: "\2714";
    width:10px;
    height:10px;
    display:block;
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    color: var(--sign-up-button-color)
}


.btn{
    display:block;
    background-color:var(--sign-up-button-color);
    color:white;
    text-transform:uppercase;
    border:none;
    border-radius:5px; 
    box-shadow:2px 2px 10px -2px rgb(0, 0, 0,0.5);
    width:60%;
    min-width:70px;
    height:40px;
    padding:.25em .5em;
    position: relative;
    top:3em;
    left:20%; 
    cursor:pointer;
}
.btn:hover{
    border:2px solid var(--sign-up-button-color);
    background-color:white;
    color: var(--sign-up-button-color);
    box-shadow:2px 2px 10px -2px var(--sign-up-button-color);
}

@media (max-width:690px){
    .flex-container{
        display:block;
    }
    .col-right,.col-left{
        min-width:unset;
        width:100%;
    }
}

